In [13]:
import pandas

*Data Set Description*

This is the sentiment140 dataset. It contains 1,600,000 tweets extracted using the twitter api . The tweets have been annotated (0 = negative, 2 = neutral, 4 = positive) and they can be used to detect sentiment . It contains the following 6 fields:

target: the polarity of the tweet (0 = negative, 2 = neutral, 4 = positive)
ids: The id of the tweet ( 2087)
date: the date of the tweet (Sat May 16 23:58:44 UTC 2009)
flag: The query (lyx). If there is no query, then this value is NO_QUERY.
user: the user that tweeted (robotickilldozr)
text: the text of the tweet (Lyx is cool)
The official link regarding the dataset with resources about how it was generated is here The official paper detailing the approach is here

According to the creators of the dataset:

"Our approach was unique because our training data was automatically created, as opposed to having humans manual annotate tweets. In our approach, we assume that any tweet with positive emoticons, like :), were positive, and tweets with negative emoticons, like :(, were negative. We used the Twitter Search API to collect these tweets by using keyword search"

citation: Go, A., Bhayani, R. and Huang, L., 2009. Twitter sentiment classification using distant supervision. CS224N Project Report, Stanford, 1(2009), p.12

In [2]:
!head -10 training.1600000.processed.noemoticon.csv

"0","1467810369","Mon Apr 06 22:19:45 PDT 2009","NO_QUERY","_TheSpecialOne_","@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D"
"0","1467810672","Mon Apr 06 22:19:49 PDT 2009","NO_QUERY","scotthamilton","is upset that he can't update his Facebook by texting it... and might cry as a result  School today also. Blah!"
"0","1467810917","Mon Apr 06 22:19:53 PDT 2009","NO_QUERY","mattycus","@Kenichan I dived many times for the ball. Managed to save 50%  The rest go out of bounds"
"0","1467811184","Mon Apr 06 22:19:57 PDT 2009","NO_QUERY","ElleCTF","my whole body feels itchy and like its on fire "
"0","1467811193","Mon Apr 06 22:19:57 PDT 2009","NO_QUERY","Karoli","@nationwideclass no, it's not behaving at all. i'm mad. why am i here? because I can't see you all over there. "
"0","1467811372","Mon Apr 06 22:20:00 PDT 2009","NO_QUERY","joy_wolf","@Kwesidei not the whole crew "
"0","1467811592","Mon Apr 06 22:20:03 PDT 2009","NO_QUERY","mybirch","Need a hug "
"0","1467811594","Mon Apr 06 22:20:03 PDT 2009","NO_QUERY","coZZ","@LOLTrish hey  long time no see! Yes.. Rains a bit ,only a bit  LOL , I'm fine thanks , how's you ?"
"0","1467811795","Mon Apr 06 22:20:05 PDT 2009","NO_QUERY","2Hood4Hollywood","@Tatiana_K nope they didn't have it "
"0","1467812025","Mon Apr 06 22:20:09 PDT 2009","NO_QUERY","mimismo","@twittera que me muera ? "

In [3]:
##### must unzip and re-run wiht correct file name. (I had manually changed it)

fullSentimentData = pandas.read_csv("training.1600000.processed.noemoticon.csv", header=None, encoding = "ISO-8859-1")

In [4]:
fullSentimentData.columns = ["Polarity", "Tweet_ID","Time_Stamp","Query", "Twitter_Handle","Tweet_Content"]

In [5]:
fullSentimentData

,Polarity,Tweet_ID,Time_Stamp,Query,Twitter_Handle,Tweet_Content
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
5,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew
6,0,1467811592,Mon Apr 06 22:20:03 PDT 2009,NO_QUERY,mybirch,Need a hug
7,0,1467811594,Mon Apr 06 22:20:03 PDT 2009,NO_QUERY,coZZ,@LOLTrish hey long time no see! Yes.. Rains a...
8,0,1467811795,Mon Apr 06 22:20:05 PDT 2009,NO_QUERY,2Hood4Hollywood,@Tatiana_K nope they didn't have it
9,0,1467812025,Mon Apr 06 22:20:09 PDT 2009,NO_QUERY,mimismo,@twittera que me muera ?
10,0,1467812416,Mon Apr 06 22:20:16 PDT 2009,NO_QUERY,erinx3leannexo,spring break in plain city... it's snowing
11,0,1467812579,Mon Apr 06 22:20:17 PDT 2009,NO_QUERY,pardonlauren,I just re-pierced my ears
12,0,1467812723,Mon Apr 06 22:20:19 PDT 2009,NO_QUERY,TLeC,@caregiving I couldn't bear to watch it. And ...
13,0,1467812771,Mon Apr 06 22:20:19 PDT 2009,NO_QUERY,robrobbierobert,"@octolinz16 It it counts, idk why I did either..."
14,0,1467812784,Mon Apr 06 22:20:20 PDT 2009,NO_QUERY,bayofwolves,"@smarrison i would've been the first, but i di..."
15,0,1467812799,Mon Apr 06 22:20:20 PDT 2009,NO_QUERY,HairByJess,@iamjazzyfizzle I wish I got to watch it with ...
16,0,1467812964,Mon Apr 06 22:20:22 PDT 2009,NO_QUERY,lovesongwriter,Hollis' death scene will hurt me severely to w...
17,0,1467813137,Mon Apr 06 22:20:25 PDT 2009,NO_QUERY,armotley,about to file taxes
18,0,1467813579,Mon Apr 06 22:20:31 PDT 2009,NO_QUERY,starkissed,@LettyA ahh ive always wanted to see rent lov...
19,0,1467813782,Mon Apr 06 22:20:34 PDT 2009,NO_QUERY,gi_gi_bee,@FakerPattyPattz Oh dear. Were you drinking ou...
20,0,1467813985,Mon Apr 06 22:20:37 PDT 2009,NO_QUERY,quanvu,@alydesigns i was out most of the day so didn'...
21,0,1467813992,Mon Apr 06 22:20:38 PDT 2009,NO_QUERY,swinspeedx,"one of my friend called me, and asked to meet ..."
22,0,1467814119,Mon Apr 06 22:20:40 PDT 2009,NO_QUERY,cooliodoc,@angry_barista I baked you a cake but I ated it
23,0,1467814180,Mon Apr 06 22:20:40 PDT 2009,NO_QUERY,viJILLante,this week is not going as i had hoped
24,0,1467814192,Mon Apr 06 22:20:41 PDT 2009,NO_QUERY,Ljelli3166,blagh class at 8 tomorrow
25,0,1467814438,Mon Apr 06 22:20:44 PDT 2009,NO_QUERY,ChicagoCubbie,I hate when I have to call and wake people up
26,0,1467814783,Mon Apr 06 22:20:50 PDT 2009,NO_QUERY,KatieAngell,Just going to cry myself to sleep after watchi...
27,0,1467814883,Mon Apr 06 22:20:52 PDT 2009,NO_QUERY,gagoo,im sad now Miss.Lilly
28,0,1467815199,Mon Apr 06 22:20:56 PDT 2009,NO_QUERY,abel209,ooooh.... LOL that leslie.... and ok I won't ...
29,0,1467815753,Mon Apr 06 22:21:04 PDT 2009,NO_QUERY,BaptisteTheFool,Meh... Almost Lover is the exception... this t...
...,...,...,...,...,...,...
1599970,4,2193578196,Tue Jun 16 08:38:54 PDT 2009,NO_QUERY,adbillingsley,Thanks @eastwestchic &amp; @wangyip Thanks! Th...
1599971,4,2193578237,Tue Jun 16 08:38:54 PDT 2009,NO_QUERY,gekkko,@marttn thanks Martin. not the most imaginativ...
1599972,4,2193578269,Tue Jun 16 08:38:54 PDT 2009,NO_QUERY,millerslab,@MikeJonesPhoto Congrats Mike Way to go!
1599973,4,2193578319,Tue Jun 16 08:38:55 PDT 2009,NO_QUERY,luckygeorgeblog,http://twitpic.com/7jp4n - OMG! Office Space.....
1599974,4,2193578345,Tue Jun 16 08:38:55 PDT 2009,NO_QUERY,Kristah_Diggs,@yrclndstnlvr ahaha nooo you were just away fr...
1599975,4,2193578347,Tue Jun 16 08:38:55 PDT 2009,NO_QUERY,CoachChic,"@BizCoachDeb Hey, I'm baack! And, thanks so m..."
1599976,4,2193578348,Tue Jun 16 08:38:55 PDT 2009,NO_QUERY,serianna,"@mattycus Yeah, my conscience would be clear i..."
1599977,4,2193578386,Tue Jun 16 08:38:55 PDT 2009,NO_QUERY,TeamUKskyvixen,@MayorDorisWolfe Thats my girl - dishing out t...
1599978,4,2193578395,Tue Jun 16 08:38:55 PDT 2009,NO_QUERY,LaurenMoo10,@shebbs123 i second that
1599979,4,2193578576,Tue Jun 16 08:38:57 PDT 2009,NO_QUERY,angel_sammy04,In the garden
1599980,4,2193578679,Tue Jun 16 08:38:56 PDT 2009,NO_QUERY,puchal_ek,@myheartandmind jo jen by nemuselo zrovna tÃ© ...
1599981,4,2193578716,Tue Jun 16 08:38:57 PDT 2009,NO_QUERY,youtubelatest,Another Commenting Contest! [;: Yay!!! http:/...
1599982,4,2193578739,Tue Jun 16 08:38:57 PDT 2009,NO_QUERY,Mandi_Davenport,@thrillmesoon i figured out how to see my twee...
1599983,4,2193578758,Tue Jun 16 08:38:57 PDT 2009,NO_QUERY,xoAurixo,"@oxhot theri tomorrow, drinking coffee, talkin..."
1599984,4,2193578847,Tue Jun 16 08:38:57 PDT 2009,NO_QUERY,RobFoxKerr,You heard it here first -- We're having a girl...
1599985,4,2193578982,Tue Jun 16 08:38:58 PDT 2009,NO_QUERY,LISKFEST,"if ur the lead singer in a band, beware fallin..."
1599986,4,2193579087,Tue Jun 16 08:38:58 PDT 2009,NO_QUERY,marhgil,@tarayqueen too much ads on my blog.
1599987,4,2193579092,Tue Jun 16 08:38:58 PDT 2009,NO_QUERY,cathriiin,@La_r_a NEVEER I think that you both will get...
1599988,4,2193579191,Tue Jun 16 08:38:59 PDT 2009,NO_QUERY,tellman,@Roy_Everitt ha- good job. that's right - we g...
1599989,4,2193579211,Tue Jun 16 08:38:59 PDT 2009,NO_QUERY,jazzstixx,@Ms_Hip_Hop im glad ur doing well
1599990,4,2193579249,Tue Jun 16 08:38:59 PDT 2009,NO_QUERY,razzberry5594,WOOOOO! Xbox is back
1599991,4,2193579284,Tue Jun 16 08:38:59 PDT 2009,NO_QUERY,AgustinaP,@rmedina @LaTati Mmmm That sounds absolutely ...
1599992,4,2193579434,Tue Jun 16 08:39:00 PDT 2009,NO_QUERY,sdancingsteph,ReCoVeRiNg FrOm ThE lOnG wEeKeNd
1599993,4,2193579477,Tue Jun 16 08:39:00 PDT 2009,NO_QUERY,ChloeAmisha,@SCOOBY_GRITBOYS
1599994,4,2193579489,Tue Jun 16 08:39:00 PDT 2009,NO_QUERY,EvolveTom,"@Cliff_Forster Yeah, that does work better tha..."
1599995,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599996,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599997,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599998,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599999,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

In [6]:
reducedSentimentData = fullSentimentData.drop(columns=["Polarity","Time_Stamp","Query", "Twitter_Handle"])
reducedSentimentData["Tweet_Content"] = reducedSentimentData["Tweet_Content"].str.lower()
reducedSentimentData.set_index("Tweet_ID")

                                                Tweet_Content
Tweet_ID
1467810369  @switchfoot http://twitpic.com/2y1zl - awww, t...
1467810672  is upset that he can't update his facebook by ...
1467810917  @kenichan i dived many times for the ball. man...
1467811184    my whole body feels itchy and like its on fire
1467811193  @nationwideclass no, it's not behaving at all....
1467811372                      @kwesidei not the whole crew
1467811592                                        need a hug
1467811594  @loltrish hey  long time no see! yes.. rains a...
1467811795               @tatiana_k nope they didn't have it
1467812025                          @twittera que me muera ?
1467812416        spring break in plain city... it's snowing
1467812579                         i just re-pierced my ears
1467812723  @caregiving i couldn't bear to watch it.  and ...
1467812771  @octolinz16 it it counts, idk why i did either...
1467812784  @smarrison i would've been the first, but i di...
1467812799  @iamjazzyfizzle i wish i got to watch it with ...
1467812964  hollis' death scene will hurt me severely to w...
1467813137                               about to file taxes
1467813579  @lettya ahh ive always wanted to see rent  lov...
1467813782  @fakerpattypattz oh dear. were you drinking ou...
1467813985  @alydesigns i was out most of the day so didn'...
1467813992  one of my friend called me, and asked to meet ...
1467814119   @angry_barista i baked you a cake but i ated it
1467814180             this week is not going as i had hoped
1467814192                         blagh class at 8 tomorrow
1467814438     i hate when i have to call and wake people up
1467814783  just going to cry myself to sleep after watchi...
1467814883                             im sad now  miss.lilly
1467815199  ooooh.... lol  that leslie.... and ok i won't ...
1467815753  meh... almost lover is the exception... this t...
...                                                       ...
2193578196  thanks @eastwestchic &amp; @wangyip thanks! th...
2193578237  @marttn thanks martin. not the most imaginativ...
2193578269          @mikejonesphoto congrats mike  way to go!
2193578319  http://twitpic.com/7jp4n - omg! office space.....
2193578345  @yrclndstnlvr ahaha nooo you were just away fr...
2193578347  @bizcoachdeb  hey, i'm baack! and, thanks so m...
2193578348  @mattycus yeah, my conscience would be clear i...
2193578386  @mayordoriswolfe thats my girl - dishing out t...
2193578395                          @shebbs123 i second that
2193578576                                     in the garden
2193578679  @myheartandmind jo jen by nemuselo zrovna tã© ...
2193578716  another commenting contest! [;: yay!!!  http:/...
2193578739  @thrillmesoon i figured out how to see my twee...
2193578758  @oxhot theri tomorrow, drinking coffee, talkin...
2193578847  you heard it here first -- we're having a girl...
2193578982  if ur the lead singer in a band, beware fallin...
2193579087              @tarayqueen too much ads on my blog.
2193579092  @la_r_a neveer  i think that you both will get...
2193579191  @roy_everitt ha- good job. that's right - we g...
2193579211                 @ms_hip_hop im glad ur doing well
2193579249                              wooooo! xbox is back
2193579284  @rmedina @latati mmmm  that sounds absolutely ...
2193579434                  recovering from the long weekend
2193579477                                  @scooby_gritboys
2193579489  @cliff_forster yeah, that does work better tha...
2193601966  just woke up. having no school is the best fee...
2193601969  thewdb.com - very cool to hear old walt interv...
2193601991  are you ready for your mojo makeover? ask me f...
2193602064  happy 38th birthday to my boo of alll time!!! ...
2193602129  happy #charitytuesday @thenspcc @sparkscharity...

[1600000 rows x 1 columns]

In [7]:
reducedSentimentData.to_csv("Unlabeled_Tweets_from_Sentiment_Study.CSV")

Twitter Flu Annotations
Here you can download the annotated data we used for training influenza classifiers described in the paper below. This is only the annotated training data (about 10K tweets), and not the full set of Twitter data.

Also note that this dataset does not contain the content of the tweets. The tweet IDs are included, which you can use to download the tweet content using the Twitter API.

References
Alex Lamb, Michael J. Paul, Mark Dredze. Separating Fact from Fear: Tracking Flu Infections on Twitter. To appear at the 2013 Conference of the North American Chapter of the Association for Computational Linguistics: Human Language Technologies (NAACL-HLT 2013), Atlanta. June 2013.

In [21]:
tweetLabelFiles_AvI = ["data/AwarenessVsInfection2009TweetIDs.txt", "data/AwarenessVsInfection2012TweetIDs.txt"]

tweetLabelFiles_RvN = ["data/RelatedVsNotRelated2009TweetIDs.txt","data/RelatedVsNotRelated2012TweetIDs.txt"]

tweetLabelFiles_SvO = ["data/SelfVsOthers2009TweetIDs.txt", "data/SelfVsOthers2012TweetIDs.txt"]

In [66]:
i=0
aggregateColoradoLabelData_AvI = None
for filename in tweetLabelFiles_AvI:
    coloradoData = pandas.read_csv(filename, sep="\t", header=None)
    coloradoData.columns = ["Tweet_ID","Awareness_Label"]
    #coloradoData.set_index("Tweet_ID")    ////This doesnt work for some reason...
#     coloradoData["Tweet_ID"] = coloradoData["Tweet_ID"].astype(str).astype(int)
    if i == 0:
        aggregateColoradoLabelData_AvI = coloradoData
    else:
        aggregateColoradoLabelData_AvI = pandas.concat([aggregateColoradoLabelData_AvI, coloradoData])
    i += 1
        
#aggregateColoradoLabelData_AvI = aggregateColoradoLabelData_AvI.set_index("Tweet_ID")



i=0
aggregateColoradoLabelData_RvN = None
for filename in tweetLabelFiles_RvN:
    coloradoData = pandas.read_csv(filename, sep="\t", header=None)
    coloradoData.columns = ["Tweet_ID","Related_Label"]
    #coloradoData.set_index("Tweet_ID")    ////This doesnt work for some reason...
#     coloradoData["Tweet_ID"] = coloradoData["Tweet_ID"].astype(str).astype(int)
    if i == 0:
        aggregateColoradoLabelData_RvN = coloradoData
    else:
        aggregateColoradoLabelData_RvN = pandas.concat([aggregateColoradoLabelData_RvN, coloradoData])
    i += 1
        
#aggregateColoradoLabelData_RvN = aggregateColoradoLabelData_RvN.set_index("Tweet_ID")


i=0
aggregateColoradoLabelData_SvO = None
for filename in tweetLabelFiles_SvO:
    coloradoData = pandas.read_csv(filename, sep="\t", header=None)
    coloradoData.columns = ["Tweet_ID","Self_Label"]
    #coloradoData.set_index("Tweet_ID")    ////This doesnt work for some reason...
#     coloradoData["Tweet_ID"] = coloradoData["Tweet_ID"].astype(str).astype(int)
    if i == 0:
        aggregateColoradoLabelData_SvO = coloradoData
    else:
        aggregateColoradoLabelData_SvO = pandas.concat([aggregateColoradoLabelData_SvO, coloradoData])
    i += 1
        
#aggregateColoradoLabelData_SvO = aggregateColoradoLabelData_SvO.set_index("Tweet_ID")

In [55]:
aggregateColoradoLabelData_AvI

        Tweet_ID  Awareness_Label
0     6004314210                0
1     6003319713                0
2     6002055513                0
3     5994839708                0
4     5991525204                0
5     5989718714                0
6     5986621813                0
7     5986140306                1
8     5985930706                0
9     5985417606                0
10    5984946706                1
11    5932814112                0
12    5932278302                0
13    4631607800                0
14    5931350914                0
15    5930919704                0
16    5236059601                1
17    4327686009                0
18    5235612004                0
19    5235592906                0
20    5929960907                0
21    5235515212                0
22    5235451302                1
23    5235366113                1
24    5926793900                0
25    5926297601                1
26    5926133800                0
27    5924934513                0
28    5234893211                0
29    5234644406                1
...          ...              ...
2185  4584081911                0
2186  4635366510                1
2187  4666727601                1
2188  4715479301                1
2189  4741258205                0
2190  4804371801                1
2191  3696259507                1
2192  4149813511                1
2193  4301813505                1
2194  4341508603                1
2195  3865610512                1
2196  3644630507                1
2197  4449650206                0
2198  4477145906                1
2199  4516713601                0
2200  4613486011                1
2201  4708432814                1
2202  4771876902                0
2203  4101581208                1
2204  3776830210                1
2205  4392021205                1
2206  3997873510                1
2207  4558525208                1
2208  4727412309                0
2209  3734576412                1
2210  3928497204                1
2211  4651895711                1
2212  4355655913                1
2213  4070258809                0
2214  4493870712                1

[4516 rows x 2 columns]

In [56]:
aggregateColoradoLabelData_RvN

        Tweet_ID  Related_Label
0     6004550306              0
1     6004010105              1
2     6003455112              0
3     6002425506              1
4     6002109706              0
5     5999019609              1
6     5990850113              0
7     5990798305              0
8     4636047505              0
9     5989718714              1
10    5989668305              0
11    5989495312              0
12    5989309711              0
13    5989190910              0
14    5234803001              0
15    4326544708              1
16    5234601204              0
17    5234582604              0
18    5234529111              1
19    5924817404              0
20    6605798206              1
21    5924620503              1
22    5923839812              1
23    5923790501              0
24    5923078913              0
25    5920030607              1
26    5919223308              1
27    5919114203              1
28    5918871806              1
29    5918605010              1
...          ...            ...
4730  4715975600              1
4731  4741401714              1
4732  4797347202              1
4733  4070263106              1
4734  3711195205              1
4735  3733228912              1
4736  4317760800              1
4737  4349921111              1
4738  4377362909              1
4739  4433092111              1
4740  4456100614              1
4741  4034857010              1
4742  4509176806              1
4743  4584372810              1
4744  4652197012              1
4745  4727412309              1
4746  4809414514              1
4747  4141578206              1
4748  3809812004              1
4749  4403443912              1
4750  4010198702              1
4751  4539278812              1
4752  4707556310              1
4753  3695471206              1
4754  3856293600              1
4755  4053373910              1
4756  4768214112              1
4757  3950814404              1
4758  3743344807              1
4759  4625766602              1

[7126 rows x 2 columns]

In [57]:
aggregateColoradoLabelData_SvO

        Tweet_ID  Self_Label
0     6004314210           0
1     6003319713           1
2     6002055513           1
3     5994839708           0
4     5991525204           1
5     5989718714           0
6     5986621813           0
7     5986140306           1
8     5985930706           0
9     5985417606           1
10    5984946706           0
11    5932814112           1
12    5932278302           1
13    4631607800           1
14    5931350914           1
15    5930919704           1
16    5236059601           0
17    4327686009           0
18    5235612004           0
19    5235592906           0
20    5929960907           1
21    5235515212           0
22    5235451302           1
23    5235366113           1
24    5926793900           1
25    5926297601           1
26    5926133800           1
27    5924934513           0
28    5234893211           1
29    5234644406           1
...          ...         ...
1158  4795491406           0
1159  4795819611           1
1160  4795970211           0
1161  4796247710           1
1162  4797347202           1
1163  4797392202           0
1164  4797402303           1
1165  4798274007           1
1166  4799736702           1
1167  4800120109           0
1168  4801742306           1
1169  4802710100           1
1170  4803984004           1
1171  4804371801           1
1172  4807831709           0
1173  4807953707           0
1174  4808624107           1
1175  4808759301           1
1176  4808777801           1
1177  4811030402           0
1178  4811228005           0
1179  4811366500           1
1180  4811588313           1
1181  4811935701           0
1182  4812493714           1
1183  4812604309           1
1184  4812950000           0
1185  4813405606           1
1186  4814093314           0
1187  4814312602           1

[3489 rows x 2 columns]

In [58]:
tweetContentFiles = ["data/AwarenessVsInfection2009TweetIDs_text.txt", "data/AwarenessVsInfection2012TweetIDs_text.txt", \
                     "data/RelatedVsNotRelated2009TweetIDs_text.txt", "data/RelatedVsNotRelated2012TweetIDs_text.txt", \
                     "data/SelfVsOthers2009TweetIDs_text.txt", "data/SelfVsOthers2012TweetIDs_text.txt"]

In [83]:
tweetDataColumns = ["Tweet_ID","Tweet_Content","Blank_Label"]
i=0
aggregateColoradoContextData = None

for filename in tweetContentFiles:
#     print(filename)
    coloradoData = pandas.read_csv(filename, sep='\t', header=None)
    coloradoData.columns = tweetDataColumns
    coloradoData["Tweet_ID"] = coloradoData["Tweet_ID"].astype(str).astype(int)
    
    if i == 0:
        aggregateColoradoContextData = coloradoData
    else:
        aggregateColoradoContextData = pandas.concat([aggregateColoradoContextData, coloradoData])
    i += 1
        
#aggregateColoradoContextData = aggregateColoradoContextData.set_index("Tweet_ID")
aggregateColoradoContextData = aggregateColoradoContextData.drop(columns=["Blank_Label"])
aggregateColoradoContextData["Tweet_Content"] = aggregateColoradoContextData["Tweet_Content"].str.lower()
# aggregateColoradoContextData.to_csv("data/text_just_context_data_tabs.csv",sep="\t")
aggregateColoradoContextData.dtypes

Tweet_ID          int64
Tweet_Content    object
dtype: object

In [84]:
labelColoradoTweetData_AvI = pandas.merge(aggregateColoradoContextData, \
                                      aggregateColoradoLabelData_AvI, how='left', on='Tweet_ID')

#labelColoradoTweetData_AvI = labelColoradoTweetData_AvI.set_index("Tweet_ID")
#labelColoradoTweetData_AvI.to_csv("Labeled_Colorado_Flu_Study_Tweets_AvI.csv")

labelColoradoTweetData_AvI = labelColoradoTweetData_AvI.drop_duplicates()
labelColoradoTweetData_AvI.dtypes
# labelColoradoTweetData_AvI.to_csv("data/test_merged_avi_tabs.csv", sep="\t")

Tweet_ID             int64
Tweet_Content       object
Awareness_Label    float64
dtype: object

In [85]:
labelColoradoTweetData_AvI_RvN = pandas.merge(labelColoradoTweetData_AvI, \
                                      aggregateColoradoLabelData_RvN, how='left', on='Tweet_ID')

#labelColoradoTweetData_RvN = labelColoradoTweetData_RvN.set_index("Tweet_ID")
#labelColoradoTweetData_AvI_RvN.to_csv("Labeled_Colorado_Flu_Study_Tweets_AvI_RvN.csv")
labelColoradoTweetData_AvI_RvN = labelColoradoTweetData_AvI_RvN.drop_duplicates()
labelColoradoTweetData_AvI_RvN
# labelColoradoTweetData_AvI_RvN.to_csv("data/test_merged_avi.csv")

,Tweet_ID,Tweet_Content,Awareness_Label,Related_Label
0,5926297601,"don't worry it's not swine flu, i already got ...",1.0,NaN
1,5222838706,muh. if i am getting sick and it's not swine f...,0.0,1.0
2,5233654812,what is up with my boy? this morning i though...,0.0,NaN
3,5918860304,"getting better,no more piggy flu 4 me,it was n...",0.0,1.0
4,4631607800,@robbsterr yay for man txting you.. in other n...,0.0,0.0
5,6004314210,swine flu has arrived at my daughter's kinderg...,0.0,1.0
6,5225053106,i think im getting flu soon.,0.0,1.0
7,5229704707,h1n1 flu is rampant in nagasaki. holy crap. 70...,0.0,NaN
8,5233811803,rt @adamwsyx6: getting my seasonal flu shot to...,1.0,NaN
9,5900297914,@sihawkings you like christmas then? i'll send...,0.0,NaN
10,5922861314,it was a robitussin nighttime cold & flu kind ...,0.0,1.0
11,5912340611,"@marisamir chemo day, plus getting fitted for ...",0.0,NaN
12,5922229214,so yeah.. myheads killin me:/ and i think im g...,0.0,NaN
13,5984946706,the swine flu is the only thing calipari is wo...,1.0,NaN
14,5222406214,is unsure about all this talk of vaccinations....,1.0,1.0
15,6003319713,getting a little fed up with having (insert ra...,0.0,1.0
16,5916662502,my flu is not going away!!!!! its not even get...,0.0,1.0
17,5926793900,rt @deejaykingmidas: i dont know is which one...,0.0,NaN
18,5234564007,trying to decide whether or not to get the h1n...,1.0,1.0
19,5932278302,"i think ive just about gotten over this flu, b...",0.0,NaN
20,5235612004,working through second kiddo with the flu. yea...,0.0,NaN
21,5924620503,oh yay! getting chippy food for dinner. i'm ge...,0.0,1.0
22,5985417606,at home. i think i have the stomach flu or som...,0.0,NaN
23,5991525204,just getting over swine flu. it must have bee...,0.0,1.0
24,5227919214,my throat has that horrible half sore feeling ...,0.0,1.0
25,5234220406,the hosp. called elijah has the swine flu. omg...,0.0,NaN
26,5231304213,@sarahshum ugh. i'm getting a flu shot (hopefu...,1.0,1.0
27,5986621813,so glad @blakewsmith won't be getting the pig ...,0.0,NaN
28,5908424206,"is down with a cold. to be clear, i was alread...",1.0,1.0
29,5221219912,i get sick all the time. i didn't get a flu sh...,1.0,1.0
...,...,...,...,...
5567,4656342505,is getting flu and sore throat :'(,NaN,1.0
5568,4490315510,"i think swine flu is getting me. and, if the ...",NaN,1.0
5569,4344199210,rt @mercola: avoid getting the flu by avoiding...,NaN,1.0
5570,4505256612,getting a seasonal flu shot!,NaN,1.0
5571,3962569306,i've got a cold... think everybody's going to ...,NaN,1.0
5572,4627904112,getting tested for flu and swine flu,NaN,1.0
5573,4054739508,"@kelseyloganx i know man, pure freakin out inc...",NaN,1.0
5574,3838979804,@enygmasmusic jealous of the ticket but you ca...,NaN,1.0
5575,4356039202,@murdamittnpimpn does tht mean u gotta be inje...,NaN,1.0
5576,4042084704,i think i am getting sick. swine flu oh noes!!,NaN,1.0
5577,3922395414,adults will be protected from swine flu 8 to 1...,NaN,1.0
5578,4329607604,hope shipley doesnt catch it! scared for the d...,NaN,1.0
5579,3703243208,"i'm having chills, sniffles, and am exhausted....",NaN,1.0
5580,4580879100,rt @brownsugar1908 #ripmyspace i heard da twit...,NaN,1.0
5581,4570137502,today's avian-flu-free bird extravaganza court...,NaN,1.0
5582,3851621204,is afraid of the swine flu and hope our rebels...,NaN,1.0
5583,3713360905,@amba12 you're probably not afraid of h1n1 bec...,NaN,1.0
5584,4034857010,if you force feed a bird nyquil they shit coug...,NaN,1.0
5585,4701018212,lol rt @maxlucado: for the bird flu you need t...,NaN,1.0
5586,4174555602,#whateverhappenedto bird flu? swine flu came a...,NaN,1.0
5587,4652197012,@nbczoraida no flu shot- i'm too worried for t...,NaN,1.0
5588,4086053214,gwen will per drs advice-nervous tho -@princes...,NaN,1.0
5589,4533635808,@jackalltimelow im getting over the swine flu ...,NaN,1.0
5590,3795135905,just fell asleep and lost two hours of study t...,NaN,1.0
5591,4793742107,i'm have a serious case of swine-grind flu i'm...,NaN,1.0
5592,5868177200,rt @latinadivina @tomtinbender i'm getting the...,0.0,NaN
5593,4770967306,"yeah, i'll worry about swine flu. when pigs fl...",1.0,NaN
5594,5488993508,i'm beginning to wonder why most korean stars ...,0.0,NaN
5595,4443971413,to people afraid of swine flu or h1n1... your ...,1.0,1.0
5596,3955710301,he was trying to come to my house to get the b...,0.0,1.0

In [86]:
labelColoradoTweetData_AvI_RvN_SvO = pandas.merge(labelColoradoTweetData_AvI_RvN, \
                                      aggregateColoradoLabelData_SvO, how='left', on='Tweet_ID')


labelColoradoTweetData_AvI_RvN_SvO = labelColoradoTweetData_AvI_RvN_SvO.drop_duplicates()
# print(labelColoradoTweetData_AvI_RvN_SvO[labelColoradoTweetData_AvI_RvN_SvO["Tweet_ID"]==5219649114])
# print(labelColoradoTweetData_AvI_RvN_SvO[labelColoradoTweetData_AvI_RvN_SvO["Tweet_ID"]==5219649114]["Tweet_Content"])

# print(labelColoradoTweetData_AvI_RvN_SvO[labelColoradoTweetData_AvI_RvN_SvO["Tweet_ID"]==4481462013])
# print(labelColoradoTweetData_AvI_RvN_SvO[labelColoradoTweetData_AvI_RvN_SvO["Tweet_ID"]==4481462013]["Tweet_Content"])
# labelColoradoTweetData_AvI_RvN_SvO = labelColoradoTweetData_AvI_RvN_SvO.set_index("Tweet_ID")
# labelColoradoTweetData_AvI_RvN_SvO[5219649114]
# labelColoradoTweetData_AvI_RvN_SvO.to_csv("data/test_no_index.csv")

In [16]:
labelColoradoTweetData_AvI_RvN_SvO = pandas.merge(labelColoradoTweetData_AvI_RvN, \
                                      aggregateColoradoLabelData_SvO, how='left', on='Tweet_ID')


labelColoradoTweetData_AvI_RvN_SvO = labelColoradoTweetData_AvI_RvN_SvO.drop_duplicates()
# labelColoradoTweetData_AvI_RvN_SvO
# labelColoradoTweetData_AvI_RvN_SvO = labelColoradoTweetData_AvI_RvN_SvO.set_index("Tweet_ID")
labelColoradoTweetData_AvI_RvN_SvO["Tweet_Content"].to_csv("data/Colorado_Flu_Study_Tweets_Text_only.csv", index = False)

In [90]:
labelColoradoTweetData_AvI_RvN_SvO = pandas.merge(labelColoradoTweetData_AvI_RvN, \
                                      aggregateColoradoLabelData_SvO, how='left', on='Tweet_ID')


labelColoradoTweetData_AvI_RvN_SvO = labelColoradoTweetData_AvI_RvN_SvO.drop_duplicates()

# labelColoradoTweetData_AvI_RvN_SvO = labelColoradoTweetData_AvI_RvN_SvO.set_index("Tweet_ID")
# labelColoradoTweetData_AvI_RvN_SvO.to_csv("data/labeled_data_tab_delim.csv",sep="\t")
# labelColoradoTweetData_AvI_RvN_SvO.to_csv("data/Labeled_Colorado_Flu_Study_Tweets_AvI_RvN_SvO.csv")
labelColoradoTweetData_AvI_RvN_SvO

,Tweet_ID,Tweet_Content,Awareness_Label,Related_Label,Self_Label
0,5926297601,"don't worry it's not swine flu, i already got ...",1.0,NaN,1.0
1,5222838706,muh. if i am getting sick and it's not swine f...,0.0,1.0,1.0
2,5233654812,what is up with my boy? this morning i though...,0.0,NaN,0.0
3,5918860304,"getting better,no more piggy flu 4 me,it was n...",0.0,1.0,1.0
4,4631607800,@robbsterr yay for man txting you.. in other n...,0.0,0.0,1.0
5,6004314210,swine flu has arrived at my daughter's kinderg...,0.0,1.0,0.0
6,5225053106,i think im getting flu soon.,0.0,1.0,1.0
7,5229704707,h1n1 flu is rampant in nagasaki. holy crap. 70...,0.0,NaN,0.0
8,5233811803,rt @adamwsyx6: getting my seasonal flu shot to...,1.0,NaN,1.0
9,5900297914,@sihawkings you like christmas then? i'll send...,0.0,NaN,0.0
10,5922861314,it was a robitussin nighttime cold & flu kind ...,0.0,1.0,1.0
11,5912340611,"@marisamir chemo day, plus getting fitted for ...",0.0,NaN,1.0
12,5922229214,so yeah.. myheads killin me:/ and i think im g...,0.0,NaN,1.0
13,5984946706,the swine flu is the only thing calipari is wo...,1.0,NaN,0.0
14,5222406214,is unsure about all this talk of vaccinations....,1.0,1.0,0.0
15,6003319713,getting a little fed up with having (insert ra...,0.0,1.0,1.0
16,5916662502,my flu is not going away!!!!! its not even get...,0.0,1.0,1.0
17,5926793900,rt @deejaykingmidas: i dont know is which one...,0.0,NaN,1.0
18,5234564007,trying to decide whether or not to get the h1n...,1.0,1.0,1.0
19,5932278302,"i think ive just about gotten over this flu, b...",0.0,NaN,1.0
20,5235612004,working through second kiddo with the flu. yea...,0.0,NaN,0.0
21,5924620503,oh yay! getting chippy food for dinner. i'm ge...,0.0,1.0,1.0
22,5985417606,at home. i think i have the stomach flu or som...,0.0,NaN,1.0
23,5991525204,just getting over swine flu. it must have bee...,0.0,1.0,1.0
24,5227919214,my throat has that horrible half sore feeling ...,0.0,1.0,1.0
25,5234220406,the hosp. called elijah has the swine flu. omg...,0.0,NaN,0.0
26,5231304213,@sarahshum ugh. i'm getting a flu shot (hopefu...,1.0,1.0,1.0
27,5986621813,so glad @blakewsmith won't be getting the pig ...,0.0,NaN,0.0
28,5908424206,"is down with a cold. to be clear, i was alread...",1.0,1.0,1.0
29,5221219912,i get sick all the time. i didn't get a flu sh...,1.0,1.0,1.0
...,...,...,...,...,...
5323,4656342505,is getting flu and sore throat :'(,NaN,1.0,NaN
5324,4490315510,"i think swine flu is getting me. and, if the ...",NaN,1.0,NaN
5325,4344199210,rt @mercola: avoid getting the flu by avoiding...,NaN,1.0,NaN
5326,4505256612,getting a seasonal flu shot!,NaN,1.0,NaN
5327,3962569306,i've got a cold... think everybody's going to ...,NaN,1.0,NaN
5328,4627904112,getting tested for flu and swine flu,NaN,1.0,NaN
5329,4054739508,"@kelseyloganx i know man, pure freakin out inc...",NaN,1.0,NaN
5330,3838979804,@enygmasmusic jealous of the ticket but you ca...,NaN,1.0,NaN
5331,4356039202,@murdamittnpimpn does tht mean u gotta be inje...,NaN,1.0,NaN
5332,4042084704,i think i am getting sick. swine flu oh noes!!,NaN,1.0,NaN
5333,3922395414,adults will be protected from swine flu 8 to 1...,NaN,1.0,NaN
5334,4329607604,hope shipley doesnt catch it! scared for the d...,NaN,1.0,NaN
5335,3703243208,"i'm having chills, sniffles, and am exhausted....",NaN,1.0,NaN
5336,4580879100,rt @brownsugar1908 #ripmyspace i heard da twit...,NaN,1.0,NaN
5337,4570137502,today's avian-flu-free bird extravaganza court...,NaN,1.0,NaN
5338,3851621204,is afraid of the swine flu and hope our rebels...,NaN,1.0,NaN
5339,3713360905,@amba12 you're probably not afraid of h1n1 bec...,NaN,1.0,NaN
5340,4034857010,if you force feed a bird nyquil they shit coug...,NaN,1.0,NaN
5341,4701018212,lol rt @maxlucado: for the bird flu you need t...,NaN,1.0,NaN
5342,4174555602,#whateverhappenedto bird flu? swine flu came a...,NaN,1.0,NaN
5343,4652197012,@nbczoraida no flu shot- i'm too worried for t...,NaN,1.0,NaN
5344,4086053214,gwen will per drs advice-nervous tho -@princes...,NaN,1.0,NaN
5345,4533635808,@jackalltimelow im getting over the swine flu ...,NaN,1.0,NaN
5346,3795135905,just fell asleep and lost two hours of study t...,NaN,1.0,NaN
5347,4793742107,i'm have a serious case of swine-grind flu i'm...,NaN,1.0,NaN
5348,5868177200,rt @latinadivina @tomtinbender i'm getting the...,0.0,NaN,1.0
5349,4770967306,"yeah, i'll worry about swine flu. when pigs fl...",1.0,NaN,1.0
5350,5488993508,i'm beginning to wonder why most korean stars ...,0.0,NaN,0.0
5351,4443971413,to people afraid of swine flu or h1n1... your ...,1.0,1.0,1.0
5352,3955710301,he was trying to come to my house to get the b...,0.0,1.0,0.0